/* :root{
    font-size: 0.5em;
} */
body {
    background: radial-gradient(
        circle,
        rgb(131, 255, 234) 0%,
        rgba(130, 255, 238, 0.726) 39%,
        rgba(0, 255, 213, 0.705) 69%,
        rgb(8, 169, 180) 100%
    );
}
#grid{
    background: radial-gradient(circle,rgba(203, 207, 206, 0.705) 69%,rgb(186, 189, 189) 100%);
    position: relative;
    top: 1em;
    left: 25%;
    width: 36em;
    height: 36em;
    border-radius: 0.5em;
    overflow: hidden;
    padding: 2em;
}
#sudoku{
    position: relative;
    width: 36em;
    height: 36em;
}
.block{
    background-color: blanchedalmond;
    width: 3.85em;
    height: 3.85em;
    border: solid black;
    border-width: 0.15em;
    border-bottom: none;
    border-right: none;
    padding: 0.1em;
}
.bottomBlock{
    border-bottom: solid black;
    border-width: 0.3em;
    height: 3.7em;
}
.sideBlock{
    border-right: solid black;
    border-width: 0.3em;
    width: 3.7em;
}
.input{
    background-color: blanchedalmond;
    border: none;
    height: 1.7em;
    width: 1.7em;
    font-size: 2em;
    text-align: center;
}
.input:focus{
    outline: none;
}